

<app-test></app-test>
<app-two-way-binding></app-two-way-binding>
<app-structural-directives></app-structural-directives>
<app-child-component (childEvent)="message=$event" [parentData]="name"></app-child-component>
<h2>Parent App</h2>
Message from the child component: {{message}}
<hr>
<app-pipes></app-pipes>
<app-services></app-services>
<!--<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>-->
<h2>App Routing</h2>
<nav>
    <button type="button" routerLink="employeelist" routerLinkActive="active">Employee List</button>
    <button type="button" routerLink="employeedetails" routerLinkActive="active">Employee Details</button>
</nav>
<hr>
<router-outlet></router-outlet>
<!--The router view goes here-->